$strongBlue: #50496d;
$darkBlue: #3a354e;

@media screen and (max-width: 1920px) {
  .main {
    width: 70%;
  }
  .TopTrack, .TopArtistName {
    color: $darkBlue;
    font-weight: bold;
    font-size: large;
  }  
}

@media screen and (max-width: 823px) {
  .main {
    width: 100%;
  }
  .main img {
    max-height: 400px;
  }
  .TopTrack, .TopArtistName {
    color: $darkBlue;
    font-weight: bold;
    font-size: medium;
  }  
  .TopTrackArtist {
    right: 0;
    float: right;
  }
}

.main{
  text-align: center;
  height: auto; 
  margin: auto;
}

.entry {
  padding: 0.75em 0.5em;
  text-align: left;
  font-size: 1.1em;
  margin: 0 1em;
  display: flex;
  align-items: center;
  color:$strongBlue;
}

.entryTracks {
  padding: 0.75em 0.5em;
  text-align: left;
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0 1em;
  display: flex;
  align-items: center;
  color: $strongBlue;
}

.entry img, .entryTracks img {
  object-fit: cover;
  width: 70px;
  min-width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-right: 1em;
  background: #fafafa;
  float: left;
  flex: 40px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.TopTrackArtist {
  white-space: nowrap;
  margin-left: 8vh;
}

p {
  flex: 12px 0 0;
  text-align: right;
  margin-right: 20px;
  margin-left:-12px;
  font-weight: bold;
  color: #7a69bd;
  font-size: 0.85em;
}

li {
  list-style-type: none;
}

